.payment-option {
  height: 6rem;
}

.paynamics-form {
  display: none;
}

.bank-details-container {
  background: #FAFBFB;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(#000, 0.05);
  margin-bottom: 10px;
  padding: 8px 10px 7px;
  font-size: 14px;
  .bank-account-detail {
    font-weight: 700;
    color: #444;
    margin-bottom: 10px;
    // .title, .detail {
    //   display: inline;
    // }
    .title {
      font-weight: 400;
      color: #7d7d7d;
      margin-bottom: -5px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.arrow-dropdown {
  margin: 22px;
  &.arrow-up {
    transform: rotate(180deg);
  }
}
