// MATERIAL DESIGN INPUT BOXES FOR MODALS
.modal-form {
  .form-group {
    input, input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"] {
      background: #fff;
      border-bottom: 1px solid #E9E9E9;
      color: #444;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
        -webkit-text-fill-color: #E8C05D !important;
        color: #fff;
      }
    }
    label {
      color: #989A9F;
    }
  }
}

// MATERIAL DESIGN INPUT BOXES
.form-group {
  position: relative;
  label {
    color: #515256;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 15px;
    margin: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }
  .bar {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #3C82EB;
    transition: all 0.2s ease-in-out;
  }
  input, input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"] {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #56585E;
    height: 50px;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 0;
    color: #000;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:focus ~ label, &.ng-valid-required ~ label, &.ng-not-empty ~ label {
      top: -10px;
      font-size: 11px;
      color: #3C82EB;
    }
    &:focus ~ .bar {
      width: 100%;
      left: 0;
      transition: all 0.2s ease-in-out;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #2A2D34 inset;
      -webkit-text-fill-color: #FFFFFF !important;
      color: #FFFFFF;
    }
  }
  .help-block {
    font-size: 0.7rem;
    line-height: 0.7rem;
    color: #b54646;
    position: absolute;
    bottom: 0.3rem;
    margin: 0;
    pointer-events: none;
  }
}
.error-container {
  padding: 18px;
  background: #eee;
  border-radius: 5px;
  .help-block {
    position: static;
    color: #444;
    font-size: 13px;
  }
}
