.mt3.w-100.mw6-ns.center.pl2.pr2.pl0-l.pr0-l
  .flex.items-center.justify-center
    .w-100.pa2.pt4.tc
      .mb4
        img.animated.fadeInDown(src="assets/images/illustration_success.svg")
      .mb1
        h1.f3.fw3.ma0.animated.fadeIn.white Payment Complete!
      .mb4
        p.white-50.lh-copy.ma0.animated.fadeIn(ng-if="Auth.isLoggedIn()")
          | You have successfully paid
          | {{invoice.data.attributes.total_amount || 0.00 | currency:"₱"}} 
          | to
          | {{invoice.included[0].attributes.store_name || "Store"}}
        //- p.white-50.lh-copy.ma0.animated.fadeIn(ng-if="!Auth.isLoggedIn()")
        p.white-50.lh-copy.ma0.animated.fadeIn
          | This invoice has already been paid.

div(ng-include="'app/invoice/payment-summary.html'")
//- INCLUDE AUTHENTICATION HERE LOGIN/REGISTER
.w-100.mw6-ns.center.pl2.pr2.pl5-l.pr5-l
  .invoice-action.bg-white.w-100.br2.mb4.animated.fadeIn
    div
      .pa3(ui-sref="main")
        .tl.mb3
          p.f6.black-50.lh-copy.ma0 Do you want to go back to start?
        .tr
          a.f7.fw7.ttu.tracked.logout.blue go back to start
